### Carregamento de dados no pandas

No ambiente python, é possível carregar dados tabulares de diversos formatos em estruturas de dados providas pelo pandas, tal qual:

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/Users/ricardobarroslourenco/PycharmProjects/receitas_bus_int/notebooks/datasets/bank_marketing/processados/bank/bank.csv', sep=';')

In [5]:
df[:3]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no

As três primeiras linhas foram plotadas. Para garantir o carregamento correto, foi necessário definir que o separador de dados era ponto-vírgula.

#### Análise descritiva de dados
Uma vez carregados, é possível fazer análise descritiva de dados com o report

In [6]:
from pandas_profiling import ProfileReport
profile = ProfileReport(df, title='Pandas Profiling Report', html={'style':{'full_width':True}})
profile

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   …